@page
@model BookShopWebApp.Pages.AddBookModel
@{
    ViewData["Title"] = "Add Book";
}

<h1 class="text-center my-4">Add New Book</h1>

<form method="post" class="container">
    <div class="mb-3">
        <label asp-for="NewBook.BookName" class="form-label">Title:</label>
        <input asp-for="NewBook.BookName" class="form-control" required />
    </div>
    <div class="mb-3">
        <div class="mb-3">
            <label asp-for="NewBook.CategoryId" class="form-label">Category ID:</label>
            <select asp-for="NewBook.CategoryId" class="form-control" required>
                <option value="">Select a category</option>
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.CategoryID">@category.CategoryName</option>
                }
            </select>
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="NewBook.Price" class="form-label">Price:</label>
        <input asp-for="NewBook.Price" class="form-control" required type="number" step="0.01"/>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Add Book</button>
    </div>
</form>
